
.App {
  width: 100vw;
  height: 100vh;
}

form {
  width: auto;

  display: flex;
  flex-flow: column nowrap;

  margin-top: 25vh;
  margin-left: calc(50% - 35px);
}

.form-elements {
  width: 100px;
  padding: 0.5em 0.5em;

  border: 1px solid; 
  border-radius: 0.5em;

  font-size: 1.5em;

  outline: none;
}

input[type=text] {
  color: #1b215c;
  text-align: center;

  border-color: #1b215c;
}

button[type=submit] {
  width: 126px !important;

  margin-top: 1vh;

  background-color: #9a9bb0;

  color: white;
  text-align: center;
}

button[type=submit].submitted, button[type=submit]:focus, button[type=submit]:hover {
  background-color: #70718e;
}

